{% extends "base_sidebar.html" %}

{% block splash %}
    <h1>{{ flatpage.title }}</h1>
{% endblock %}

{% block content %}
            {{ flatpage.content }}
{% endblock %}

{% block sidebar %}
<div class="well">
    <ul><li><p>1.1 <a class="reference internal"
                href="#car-services">Car Services</a></p></li><li><p>1.2 <a class="reference
                internal" href="#computers-and-electronic-devices">Computers and Electronic
                Devices</a></p></li><li><p>1.3 <a class="reference internal"
                href="#drivers">Drivers</a></p></li><li><p>1.4 <a class="reference internal"
                href="#electrician">Electrician</a></p></li><li><p>1.5 <a class="reference
                internal" href="#multiple-work-large-and-small">Multiple work (large and
                small)</a></p></li><li><p>1.6 <a class="reference internal"
                href="#multiple-work-small">Multiple work (small)</a></p></li><li><p>1.7 <a
                class="reference internal" href="#musician">Musician</a></p></li><li><p>1.8 <a
                class="reference internal" href="#organizer-especially-paper">Organizer
                (especially paper)</a></p></li><li><p>1.9 <a class="reference internal"
                href="#renovationsinterior-and-exterior">Renovations–interior and
                exterior</a></p></li><li><p>1.10 <a class="reference internal"
                href="#snow-shovelling">Snow Shovelling</a></p></li><li><p>1.11 <a
                class="reference internal" href="#tree-work">Tree Work</a></p></li><li><p>1.12
            <a class="reference internal" href="#windows">Windows</a></p></li><li><p>1.13
            <a class="reference internal" href="#yard-work">Yard
                Work</a></p></li></ul>
</div>
{% endblock %}
