/*********************************************************************
 *                              general                              *
 *********************************************************************/

.splash {
    padding-top: 80px;
    padding-bottom: 40px;
    vertical-align: bottom;
    margin-bottom: 1em;
    background-image: url("http://i.imgur.com/Sbh58eU.jpg");
    background-size: cover;
    color: #fff;
    text-align: left;
}

.splash h1 {
    padding-left: 0;
    margin-left: 0;
    letter-spacing: -2px;
    font-size: 60px;
}

footer {
    margin-top: 2em;
}


/*********************************************************************
 *                             homepage begin                        *
 *********************************************************************/



/**********
 *  news  *
 **********/


.home-announcements {
    background-color: #93C54B;
    padding: 0;
    margin: 0
}

.home-news h1 {
    margin-top: 2rem;
    margin-bottom: 0;
}

.home-news img {
    margin: 1rem;
}

.home-news-entry {
    margin-top: 0;
    margin-bottom: 5rem;
}



/************
 *  events  *
 ************/

.home-events {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

.home-events h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.home-events p,a {
    margin-top: 0px;
    margin-bottom: 0px;
}

.home-events p {
    margin-left: 1.5em;
}


.home-events .h3 {
    letter-spacing: -3px;
    font-weight: 100;
    margin-top: 0;
}


/*********************************************************************
 *                         about page begin                          *
 *********************************************************************/


/*********************************************************************
 *                         member data begin                         *
 *********************************************************************/


/* isotope */

.member-data {
    padding: 0.3rem;
}

.detail-data {
    margin-left: 140px;
}

.member-data p {
    line-height: 1.6em;
    margin: 0;
}

.member-data img {
    margin-right: 1rem;
}

.data-filters {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
