.splash {
    height: 18em;
    padding-top: 4em;
    margin-bottom: 2em;
    margin-left: 0;
    background-image: url("http://i.imgur.com/Sbh58eU.jpg");
    background-size: cover;
    color: #fff;
    text-align: left;
}

.splash h1 {
    padding-left: 0;
    margin-left: 0;
    letter-spacing: -2px;
    font-size: 60px;
}

.home-wrapper {
    padding: 0;
}

.home-events h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

.home-events p,a {
    margin-top: 0px;
    margin-bottom: 0px;
}

.home-news h3 {
    margin-top: 1.5em;
}

.home-news p {
    margin-top: 1.8em;
    text-align: justify;
}
