.splash {
    padding-top: 80px;
    padding-bottom: 40px;
    vertical-align: bottom;
    margin-bottom: 1em;
    background-image: url("http://i.imgur.com/Sbh58eU.jpg");
    background-size: cover;
    color: #fff;
    text-align: left;
}

.splash h1 {
    padding-left: 0;
    margin-left: 0;
    letter-spacing: -2px;
    font-size: 60px;
}

.home-announcements {
    background-color: #93C54B;
    padding: 0;
    margin: 0
}

.home-news h1 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.home-news h2 {
    margin-top: 1.5em;
}

.home-news p {
    margin-top: 1.2em;
    /* text-align: justify; */
}

.home-events h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.home-events p,a {
    margin-top: 0px;
    margin-bottom: 0px;
}

.home-events .h3 {
    letter-spacing: -3px;
    font-weight: 100;
    margin-top: 0;
}

.events-month {
    letter-spacing: -1px;
    font-size: 28px;
    font-weight: 200;
}

/* about page *****************************************/


/* end about page *************************************/

footer {
    margin-top: 2em;
}

/* isotope */

.member-data {
    padding: 0.3rem;
}

.member-data p {
    margin: 0;
    line-height: 1.6em;
}

.member-data img {
    margin-right: 1rem;
}

.data-filters {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

