{% extends "base.html" %}
{% block content %}
<div class="container marketing">

    <div class="row featurette">
        <div class="col-md-5 col-md-offset-1">
            <h2 class="featurette-heading">Who Are We?</h2>
            <p> 
            <span class="lead">Formed in the Spring of 2011, a group of neighbors gathered people from the 209 corridor south of Kingston NY to discuss how they might help one another remain independent, strengthen their communities, and stay in their own homes.  Our group relies on the volunteers–neighbor helping neighbor. We have nurses, business people, artists, homemakers, computer specialists, doctors, lawyers, educators–people with all kinds of skills.
            </p>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <img class="featurette-image img-responsive" src="http://lorempixel.com/500/500/people" alt="SSIP Image 01">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5 col-md-offset-1">
            <img class="featurette-image img-responsive" src="http://lorempixel.com/400/300/people" alt="SSIP Image 02">
        </div>
        <div class="col-md-5">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5 col-md-offset-1">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="http://lorempixel.com/400/300/people" alt="SSIP Image 01">
        </div>
    </div>

    <hr class="featurette-divider">

</div>
{% endblock %}
