{% extends "base.html" %}
{% load tz %}

{% block content %}
<!-- <div class="container-fluid home-announcements"> -->
<!--     <div class="row hidden-xs"> -->
<!--         <div class="col-md-10"> -->
<!--             <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
<!--                 <1!-- Indicators --1> -->
<!--                 <ol class="carousel-indicators"> -->
<!--                     <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> -->
<!--                     <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
<!--                     <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
<!--                 </ol> -->
<!--                 <1!-- Wrapper for slides --1> -->
<!--                 <div class="carousel-inner"> -->
<!--                     <div class="item active"> -->
<!--                     </div> -->
<!--                     <div class="item"> -->
<!--                     </div> -->
<!--                     <div class="item"> -->
<!--                     </div> -->
<!--                 </div> -->
<!--                 <1!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> --1> -->
<!--                 <1!--     <span class="glyphicon glyphicon-chevron-left"></span> --1> -->
<!--                 <1!-- </a> --1> -->
<!--                 <1!-- <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> --1> -->
<!--                 <1!--     <span class="glyphicon glyphicon-chevron-right"></span> --1> -->
<!--                 <1!-- </a> --1> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
<!-- </div> -->
<div class="container">
    <div class="row">
        <div class="col-md-6 home-news">
            <h1><b>Recent News</b></h1>
            {% for news_entry in news_entry_list %}
            <h2>{{ news_entry.title }}<small> {{ news_entry.pub_date|date:"F jS, Y" }}</small></h2>
            {{ news_entry.text|safe }}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% include "sidebar.html" %}
        </div>
    </div>
</div><!-- /container -->

{% endblock %}
