{% extends "base_sidebar.html" %}
{% load tz %}

{% block content %}
    <div class="home-news">
        <h1><strong>Updates</strong></h1>
        {% for news_entry in news_entry_list %}
            <div class="home-news-entry">
                <h2>{{ news_entry.title }}</h2> 
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> {{ news_entry.pub_date|date:"F jS, Y" }}</p>
                {{ news_entry.text|safe }}
            </div>
        {% endfor %}

    </div>
{% endblock %}
