{% extends "base.html" %}

{% block title %}Members{% endblock %}

{% load static %}

{% block splash %}
    <h1>SSIP 209 Members</h1>
{% endblock %}

{% block content %}

<!-- <a href=" url 'members:member-detail' slug=member.slug " class="list-group-item">{{ member.email }}</a> -->
<div class="container">
    <div class="row">
        <div class="col-md-10 data-filters">
            <div class="well">
                <form>
                <div class="form-group">
                    <input id="search-name" class="form-control" placeholder="Search By Name" type="text"/>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="members">
        {% for member in member_list %}
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 member-data">
            <div class="basic-data">
                <img class="pull-left" src="http://placehold.it/128x128/">
                <h3 class="media-heading name">
                    {{ member.last_name }}, {{ member.first_name }}
                </h3>

                {% if member.homephone %}
                <p class="homephone">(Home) {{ member.homephone }}</p>
                {% endif %}

                {% if member.cellphone %}
                <p class="cellphone">(Cell) {{ member.cellphone }}</p>
                {% endif %}

                {% if member.email %}
                <p class="email"><a href="mailto:{{ member.email }}">{{ member.email }}</a></p>
                {% endif %}
            </div>
            <div class="detail-data hidden">
                {% if member.address or member.town %}
                <p class="address">{{ member.address }}
                    {% if member.town %}, {{ member.town }} NY {% endif %}
                </p>
                {% endif %}

                {% if member.hobbies %}
                <p class="hobbies"><strong>My Hobbies</strong>: {{ member.hobbies }}</p>
                {% endif %}

                {% if member.canhelp %}
                <p class="canhelp"><strong>I can help with</strong>: {{ member.canhelp }}</p>
                {% endif %}

                {% if member.needhelp %}
                <p class="needhelp"><strong>I could use help with</strong>: {{ member.needhelp }}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
