{% extends "base.html" %}

{% load staticfiles %}

{% block content_wrapper %}
<!-- content container -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-7">
                {% block sidebar_top %}
                {% endblock sidebar_top %}

                {% block sidebar %}
                {{ sidebar_html|safe }}
                {% endblock sidebar %}

                {% block sidebar_bottom %}
                {% endblock sidebar_bottom %}
        </div>
        <div class="col-md-7 col-md-pull-4">
            
            {% block content %}
                your project information goes here
            {% endblock %}
        </div>
    </div>
</div><!-- /content container -->

{% endblock content_wrapper %}

{% block modal %}{% endblock modal %}
