{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en" ng-app>
<head>
<meta charset="utf-8">
<title>{% block title %}Settled and Serving in Place{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

{% block css %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link href="{% static 'css/project.css' %}" rel="stylesheet">

{% endblock %}

{% block extra_css %}
{% endblock %}

{% block angular %}
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script> -->
{% endblock %}

</head>
<body>
{% block nav %}
<navigation>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-tree-deciduous"></span> SSIP 209</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About SSIP</a></li>
            <li><a href="{% url 'members:member-list' %}">Members</a></li>
            <li><a href="/pages/services/">Service Providers</a></li>
            <li><a href="#Newsletter">Newsletter</a></li>
        </ul>
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/admin/">Admin</a></li>
                <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
                <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
            </ul>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
</navigation>
{% endblock %}

<div class="splash">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                {% block splash %}
                    <h1>SSIP 209</h1>
                    <p class="lead"> Settled and Serving in Place </p>
                {% endblock %}
            </div>
        </div>
    </div>
</div><!-- /container -->

{% block msg %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}warning{% endif %}">{{ message }}</div>
    {% endfor %}
    {% endif %}
</div><!-- /container -->
{% endblock %}

{% block content_wrapper %}

<div class="container">
    {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}
</div><!-- /container -->

{% endblock content_wrapper %}

{% block modal %}{% endblock modal %}

<!-- Le javascript ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% block javascript %}
<!-- Latest JQuery -->
<!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="{% static 'js/project.js' %}"></script>

{% endblock javascript %}

{% block javascript_extra %}
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

{% endblock javascript_extra %}

{% include "footer.html" %}

</body>
</html>
