            {% if upcoming_occurrence_list %}
            <div class="home-events">
                <h2 class="text-center"><b><span class="glyphicon glyphicon-calendar"></span> Upcoming Events</b></h2>
                {% for oc in upcoming_occurrence_list %}
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">
                            {% if oc.event_type.abbr != 'week' and oc.event_type.abbr != 'mtly' %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% else %}
                            &nbsp;
                            &nbsp;
                            {% endif %}

                            {{ oc.event.title }}

                            {% if oc.event_type.abbr == 'week' %}  (Weekly) 
                            {% elif  oc.event_type.abbr == 'mtly' %} (Monthly)
                            {% endif %}
                        </h4>
                        <p>
                          {{ oc.start_time|date:"l, F jS \a\t f a"}} 
                        </p>
                        <p><a href="{% url 'events:ssipoccurrence-detail' oc.id oc.event.id%}" class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Event Information</a></p>
                        <p><a href="{% url 'events:location-detail' oc.location.slug %}"><span class="glyphicon glyphicon-globe"></span> {{ oc.location.title }} (Directions)</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
