            {% if upcoming_occurrence_list %}
            <div class="home-events">
                <h2><b>Upcoming Events</b></h2>
                {% for oc in upcoming_occurrence_list %}
                {% ifchanged %}<h3 class="events-month">{{ oc.start_time|date:"F" }}</h3>{% endifchanged %}
                <div class="media">
                    <span class="pull-left h3 {% if oc.start_time < now %} text-muted {% endif %}"> 
                        {{ oc.start_time|date:"jS" }}
                    </span>
                    <div class="media-body">
                        <h4 class="media-heading">
                            {% if oc.event_type.abbr != 'week' and oc.event_type.abbr != 'mtly' %}
                            <span class="glyphicon glyphicon-star"></span>
                            {% endif %}
                            {{ oc.event.title }}
                        </h4>
                        <p>
                          {{ oc.start_time|date:"l"}} at {{ oc.start_time|date:"f a" }}
                          {% if oc.event_type.abbr == 'week' %} (Weekly) 
                          {% elif  oc.event_type.abbr == 'mtly' %} (Monthly)
                          {% endif %}
                        </p>
                        <p><a href="{% url 'events:occurrence-detail' oc.event.id oc.id %}" class="text-info"><span class="glyphicon glyphicon-info-sign"></span> Information</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
