{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <img src="http://lorempixel.com/700/300/people">
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center lead">
            We all need help at one time or another, and many people are hesitant to ask.         
        </h3>
        <h4 class="text-center">
            To address this issue, our members are asked to indicate the ways in which they can help. Then a List Manager, available on our special phone, responds to calls for help by looking through the list to match the need with a volunteer. When you join, your name will be placed on the list to call, and of course, you will be able to ask for help.
        </h4>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <center><img src="http://lorempixel.com/800/300/people" align="center"></center>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h4>Formed in the Spring of 2011, a group of neighbors gathered people from the 209 corridor (south of Kingston, NY) to discuss how they might help one another remain independent, strengthen their communities, and stay in their own homes. Our group relies on the volunteers–neighbor helping neighbor. We have nurses, business people, artists, homemakers, computer specialists, doctors, lawyers, educators–people with all kinds of skills.</h4>
    </div>
</div>
{% endblock %}
