{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h1>News</h1>
        {% for news_entry in news_entry_list %}
        <h3>{{ news_entry.title }}</h3>
        <p>{{ news_entry.pub_date|date }}, <span class="text-muted">{{ news_entry.pub_date|timesince }} ago</span></p>
        <p style="text-align: justify;">{{ news_entry.text|safe }}</p>
        <hr>
        {% endfor %}
    </div>
    <div class="col-md-6">
        <h1><strong>Import Announcements</strong></h1>
        <p>This coming Saturday, September 20th, there will be a Walk over the Hudson for Altzheimer’#s research. To sign in, <a title="here" href="http://act.alz.org/site/TR/Walk2014/NY-HudsonValleyRocklandWestchesterNY?fr_id=5298&amp;pg=entry">click here.</a></p>
        <hr>
        <h1>Upcoming Events</h1>
        <h2>September</h2>
        <h2>October</h2>
        <h2>November</h2>
    </div>
</div>

{% endblock %}
