{% extends "base.html" %}

{% block title %}{{ occurrence.title}}{% endblock %}

{% block splash %}

<h1>
    {{ occurrence.title }}<br>
</h1>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <dl>
                <dt class="h3">{{ occurrence.event.description }}</dt>
                <dt>Date:</dt>
                <dd>
                {% with occurrence.start_time as st  %}
                {{ st|date:"l, F jS P" }}
                {% endwith %}
                </dd>
                <dt>Information</dt>
                <dd>
                {% with occurrence.event.notes.all as notes %}
                {% if notes %}
                {% for note in notes %}
                {{ note|safe }}
                {% endfor %}
            </ul>
            {% else %}None
            {% endif %}
            {% endwith %}
            </dd>
        </dl>
    </div>
</div>
</div>
    <div class="row">
        <div class="col-md-10"></div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
    </div>
</div>
{% endblock %}
