{% extends "base.html" %}

{% block title %}Members{% endblock %}

{% block content %}

<div class="container">
    
  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">Members</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
          <table class="table">
              <tr>
                  <th>name</th>
                  <th>email</th>
              </tr>
              {% for member in member_list %}
              <tr>
                  <td>
                      <a href="{% url 'members:member-detail' slug=member.slug %}" class="list-group-item">{{ member.get_full_name }}</a>
                  </td>
                  <td>
                      <a href="{% url 'members:member-detail' slug=member.slug %}" class="list-group-item">{{ member.email }}</a>
                  </td>
              </tr>
              {% endfor %}
          </table>
      </div>
  </div>

</div>

{% endblock content %}
