{% extends "base.html" %}

{% block title %}{{ occurrence.event.title}}{% endblock %}

{% block splash %}
<h1>
    {{ occurrence.event.title }}<br>
</h1>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Event Description
                </div>
                <div class="panel-body">
                    {{ occurrence.event.description }}
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                   Further Information 
                </div>
                <div class="panel-body">
                    {{ occurrence.information }}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Date 
                </div>
                <div class="panel-body">
                    {% with occurrence.start_time as st  %}
                    {{ st|date:"l, F jS P" }}
                    {% endwith %}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Location
                </div>
                <div class="panel-body">
                    <p class="lead text-center">{{ occurrence.location.title }}</p>
                    <p class="text-justify">{{ occurrence.location.description|safe }}</p>
                    <p class="primary lead text-center"><a href="{% url 'events:location-detail' occurrence.location.slug %}"> Maps and Directions</a></p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Organizer(s)
                </div>
                <div class="panel-body">
                    {{ occurrence.organizer }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
